<ion-content [fullscreen]="true" mode="ios">
  <div class="header">
    <ion-button fill="clear"><ion-icon name="keypad"></ion-icon></ion-button>
    <ion-button fill="clear"><ion-icon name="grid"></ion-icon></ion-button>
    <ion-button fill="clear"><ion-icon name="time"></ion-icon></ion-button>
  </div>

  <h1 class="equation">1111</h1>

</ion-content>

<ion-footer mode="ios">

  <ion-grid class="calculator-pad">
    <ion-row>
      <ion-col>C</ion-col>
      <ion-col><ion-icon name="backspace"></ion-icon></ion-col>
      <ion-col>%</ion-col>
      <ion-col>÷</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>7</ion-col>
      <ion-col>8</ion-col>
      <ion-col>9</ion-col>
      <ion-col><ion-icon name="close"></ion-icon></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>4</ion-col>
      <ion-col>5</ion-col>
      <ion-col>6</ion-col>
      <ion-col><ion-icon name="remove"></ion-icon></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>1</ion-col>
      <ion-col>2</ion-col>
      <ion-col>3</ion-col>
      <ion-col><ion-icon name="add"></ion-icon></ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-icon name="layers"></ion-icon></ion-col>
      <ion-col>0</ion-col>
      <ion-col>,</ion-col>
      <ion-col>=</ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>